<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>College Crazies</title>
    <meta name="description" content="College Crazies">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <style type="text/css">
        body {
            padding-top: 60px;
        }
        .unpicked {
            border: 1px solid red;
        }
        .picked {
            border: 1px solid green;
        }
        .hidden { display: none; }
        #pick-status { margin-top: 10px; }
        .game h5 { line-height: 22px; }

        td.correct { background-color:green; }
        td.incorrect { background-color:red; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-alerts.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#pick-list tbody").sortable({
                cursor: 'move',
                update: function () {
                    var children = $(this).children();
                    var idx = children.length;
                    children.each(function() {
                        var confElement = $(this).find('.confidence');
                        confElement.find('.confDisplay').html(idx);
                        confElement.find('select').val(idx);
                        idx--;
                    });
                }
            });

            var checkPickStatus = function() {
                var setPicks = 0;
                var numPicks = 0;

                $(".pick").each(function() {
                    numPicks++;
                    if ($(this).find('.team').val().length) {
                        setPicks++;
                    }
                });

                if (setPicks == numPicks) {
                    $("#pick-status span").html('Complete').addClass('success').removeClass('important');
                } else {
                    $("#pick-status span").html('Incomplete').addClass('important');
                }
            }
            checkPickStatus();

            $('.pickForm').submit(function() {
                $(this).find('.makePick').each(function() {
                    $(this).removeAttr('name');
                });
            });

            $('.alert-message .close').click(function() {
                $(this).parent().slideUp(200, function() {
                    $(this).remove();
                });
            });

            $('.makePick').change(function() {
                var row = $(this).closest('tr').removeClass('unpicked').addClass('picked');
                row.find('.team').val($(this).val());
                checkPickStatus();
            });
        });
    </script>
</head>
<body>
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#">College Crazies</a>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ path('my_picks') }}">My Picks</a></li>
                    <li><a href="{{ path('league_picks') }}">Group Picks</a></li>
                    <li><a href="{{ path('leaderboard') }}">Leader Board</a></li>
                </ul>
                {% if is_granted('ROLE_USER') %}
                    <p class="pull-right">Logged in as <a href="/profile">{{ app.user }}</a> <a href="/logout">logout</a></p>
                {% else %}
                    <p class="pull-right"> <a href="/login">Login</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <a href="{{ path('team_list') }}">Team List</a>
        <div class="sidebar">
            <div class="well">
                <h5>Upcoming Games</h5>
                {% render "CollegeCraziesMainBundle:Game:list" %}
        </div>
    </div>

    <div class="content">
        {% for key, flash in app.session.getFlashes() %}
            <div class="data-alert alert-message {{ key }}">
                <a class="close" href="#">×</a>
                <p>{{ flash }}</p>
            </div>
        {% endfor %}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
