<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>College Crazies</title>
    <meta name="description" content="College Crazies">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.0/css/bootstrap-combined.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
        }
        .unpicked {
            background-color: #ffee77 !important;
        }
        .picked {
            background-color: #ccffcc !important;
        }
        .hidden { display: none; }
        #pick-status { margin-top: 10px; }
        .status { width: 30px; }
        .game h5 { line-height: 22px; }
        .confidence { text-align: center; }

        td.correct {
            background-color: #ccffcc !important;
            font-color: #006600 !important;
            font-weight: normal !important;
        }
        td.incorrect {
            background-color: #ffcccc !important;
            font-color: #990000 !important;
            font-weight: normal !important;
        }
        .pick-col {
            width: 33px;
            text-align: center;
        }
        .vertical-text {
            writing-mode:tb-rl;
            -webkit-transform:rotate(270deg);
            -moz-transform:rotate(270deg);
            -o-transform: rotate(270deg);
            overflow-x: visible !important;
            overflow-y: visible !important;
            width:33px !important;
            max-width: 33px;
            overflow: scroll;
        }
        .pickname { max-width: 300px; }
        .not-my-pick { background-color: #d8d8d8 !important; }
        .my-pick { background-color: #ffff99 !important; }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.0/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#pick-list tbody").sortable({
                cursor: 'move',
                update: function () {
                    var children = $(this).children();
                    var idx = children.length;
                    children.each(function() {
                        var confElement = $(this).find('.confidence');
                        confElement.find('.confDisplay').html(idx);
                        confElement.find('.confidenceValue').val(idx);
                        idx--;
                    });
                }
            });

            var checkPickStatus = function() {
                var setPicks = 0;
                var numPicks = 0;

                $(".pick").each(function() {
                    numPicks++;
                    if ($(this).find('.team').val().length) {
                        setPicks++;
                    }
                });

                if (setPicks == numPicks) {
                    $("#pick-status span").html('Complete').addClass('success').removeClass('important');
                } else {
                    $("#pick-status span").html('Incomplete').addClass('important');
                }
            }
            checkPickStatus();

            $('.pickForm').submit(function() {
                $(this).find('.makePick').each(function() {
                    $(this).removeAttr('name');
                });
            });

            $('.alert-message .close').click(function() {
                $(this).parent().slideUp(200, function() {
                    $(this).remove();
                });
            });

            $('.makePick').change(function() {
                var row = $(this).closest('tr').find('.confidence').removeClass('unpicked').addClass('picked');
                row.find('.team').val($(this).val());
                checkPickStatus();
            });

            var popoverOptions = {
                html: true
            };
            $('a[rel="popover"]').popover(popoverOptions);
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#">College Crazies</a>
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ path('my_picks') }}">My Picks</a></li>
                    <li><a href="{{ path('league_picks') }}">Group Picks</a></li>
                    <li><a href="{{ path('leaderboard') }}">Leader Board</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('user_list') }}">Manage Users</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Leagues <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                {% for league in app.user.leagues %}
                                    <li><a href="">{{ league.name }}</a></li>
                                {% endfor %}
                                <li class="divider"></li>
                                <li><a href="#">Find a League to Join</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Create a League</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                {% if is_granted('ROLE_USER') %}
                    <p class="pull-right">Logged in as <a href="/profile">{{ app.user }}</a> <a href="/logout">logout</a></p>
                {% else %}
                    <p class="pull-right"> <a href="/login">Login</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="well sidebar-name">
                    {% render "CollegeCraziesMainBundle:Game:list" %}
                </div>
            </div>

            <div class="span10">
                <div class="content">
                    {% for key, flash in app.session.getFlashes() %}
                        <div class="alert {{ key }}">
                            <button type="button" class="close" data-dismiss="alert" href="#">×</a>
                            <strong>{{ flash }}</strong>
                        </div>
                    {% endfor %}

                    {% block content '' %}
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27706928-1']);
        _gaq.push(['_setDomainName', 'collegecrazies.com']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
