<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>College Crazies</title>
    <meta name="description" content="College Crazies">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    .hidden { display: none; }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#pick-list tbody").sortable({
                cursor: 'move',
                update: function () {
                    var children = $(this).children();
                    var idx = children.length;
                    children.each(function() {
                        var confElement = $(this).find('.confidence');
                        confElement.find('.confDisplay').html(idx);
                        confElement.find('select').val(idx);
                        idx--;
                    });
                }
            });
        });
    </script>
</head>
<body>
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container-fluid">
                <a class="brand" href="#">College Crazies</a>
                <ul class="nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="{{ path('picklist_new') }}">My Picks</a></li>
                    <li><a href="{{ path('league_picks') }}">Group Picks</a></li>
                    <li><a href="{{ path('leaderboard') }}">Leader Board</a></li>
                </ul>
                {% if is_granted('ROLE_USER') %}
                    <p class="pull-right">Logged in as <a href="/profile">{{ app.user }}</a> <a href="/logout">logout</a></p>
                {% else %}
                    <p class="pull-right"> <a href="/login">Login</a></p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <a href="{{ path('team_list') }}">Team List</a>
        <div class="sidebar">
            <div class="well">
                <h5>Games</h5>
                {% render "CollegeCraziesMainBundle:Game:list" %}
        </div>
    </div>

    <div class="content">
        {% block content %}
            This is the default content
        {% endblock %}
    </div>
</body>
</html>
