{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h2>Make your picks <small><a href="{{ path('howto') }}">Need some help?</a></small></h2>
                <p>Select the winner and drag the teams to their desired confidence</p>

                <form action="{{ path('pickset_update', {picksetId: pickSet.id }) }}" class="pickForm" method="post" {{ form_enctype(form) }}>
                    {% include 'SofaChampsBowlPickemBundle:Pick:form.html.twig' %}
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Save Picks" />
                    </div>
                </form>
            </div>
            <div class="col-md-3">
                <h3>Assigned Leagues</h3>
                {% if pickSet.leagues|length %}
                    <p><small>This pickset is assigned to all of these leagues</small></p>
                    <ul class="unstyled">
                    {% for league in pickSet.leagues %}
                        <li><a href="{{ path('league_home', {leagueId: league.id}) }}"><i class="icon-home"></i> {{ league.name }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p><small>This pickset is not assigned to any leagues</small></p>
                    <a href="{{ path('league_find') }}" class="btn btn-success">Find or Create a League</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
