<div class="row{% if form.name.vars.errors|length %} has-error{% endif %}">
    <div class="col-lg-6">
        {{ form_widget(form.name, {'attr': {'class': 'form-control', placeholder: 'Pick Set Name'}}) }}
        {{ form_errors(form.name) }}
    </div>
    <div class="col-lg-6">&nbsp;</div>
</div>

<div id="pick-status" class="clearfix">
    Status: <span class="label">checking...</span>
</div>
<span class="help-block">Picks lock <time datetime="{{ picks_lock_time(season)|date('c') }}">{{ picks_lock_time(season)|date("l F jS \\a\\t g:ia T") }}<time></span>

{% if pickSet is defined %}
    <h3>Assigned Leagues</h3>
    {% if pickSet.leagues|length %}
        <p><small>This pickset is assigned to all of these leagues</small></p>
        <ul class="unstyled">
        {% for league in pickSet.leagues %}
            <li><a href="{{ path('league_home', {leagueId: league.id, season: season}) }}"><span class="glyphicon glyphicon-home"></span> {{ league.name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p><small>This pickset is not assigned to any leagues</small></p>
        <a href="{{ path('league_find', {season: season}) }}" class="btn btn-success">Find or Create a League</a>
    {% endif %}
{% endif %}

<table id="pick-list" class="table table-condensed table-hover">
    <thead>
        <th>Bowl</th>
        <th>Favorite</th>
        <th>Up</th>
        <th class="confidence"><abbr title="Confidence">Conf.</abbr></th>
        <th>Down</th>
        <th>Underdog</th>
        <th>Date</th>
    </thead>
    <tbody>
    {% for pick in form.picks %}
        {% set game = pick.vars.value.game %}
        {% set team = pick.vars.value.team %}
        {% set favorite = game.favorite %}
        {% set underdog = game.underdog %}
        <tr class="pick{% if team.id is defined %} success{% else %} danger{% endif %}">
            <td>
                {{ game.name }}
                (<a href="#" rel="popover" data-content="{% include 'SofaChampsBowlPickemBundle:Game:_preview.html.twig'|escape %}" title="{{ favorite.id }} vs {{ underdog.id }} Preview">?</a>)
            </td>
            <td>
                <input type="radio" class="makePick" name="makePick{{ loop.index }}" value="{{ favorite.id }}"{% if team.id is defined and favorite.id == team.id %} checked="checked"{% endif %} />
                {{ favorite.name }}
            </td>
            <td><a href="#" class="btn btn-success move-pick up"><span class="glyphicon glyphicon-chevron-up"></span></a></td>
            <td class="confidence{% if team.id is defined %} picked{% else %} unpicked{% endif %}">
                <span class="confDisplay">{{ pick.vars.value.confidence }}</span>
                {{ form_widget(pick.confidence, { 'attr': { 'class': 'hidden confidenceValue'} }) }}
                {{ form_widget(pick.team, { 'attr': {'class': 'team' } }) }}
                {{ form_widget(pick.game, { 'attr': {'class': 'hidden' } }) }}
            </td>
            <td><a href="#" class="btn btn-warning move-pick down"><span class="glyphicon glyphicon-chevron-down"></span></a></td>
            <td>
                <input type="radio" class="makePick" name="makePick{{ loop.index }}" value="{{ underdog.id }}"{% if team.id is defined and underdog.id == team.id %} checked="checked"{% endif %} />
                {{ underdog.name }}
            </td>
            <td>{{ pick.vars.value.game.gameDate|date('m/d/Y g:i a') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<hr />

<div class="tiebreaker">
    <h4>Tiebreaker</h4>
    {{ form_label(form.tiebreakerHomeTeamScore, 'FSU Score') }}
    {{ form_widget(form.tiebreakerHomeTeamScore) }}

    <br />

    {{ form_label(form.tiebreakerAwayTeamScore, 'Auburn Score') }}
    {{ form_widget(form.tiebreakerAwayTeamScore) }}
</div>

{{ form_widget(form._token) }}
