{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}
{% set isCommish = app.user.isBowlPickemCommissionerForSeason(season) %}

{% block content %}
    <h2>Manage Picksets</h2>
    <p>Choose the pickset you want to use for the league</p>
    <form action="{{ path('pickset_manage', {season: season}) }}" method="POST" id="pickset-update" role="form">
        <table class="table table-bordered table-hover">
            <thead>
                {% if isCommish %}
                    <th style="width: 60px">Commish</th>
                {% endif %}
                <th>League</th>
                {% for pickSet in pickSets %}
                    <th><a href="{{ path(picks_locked ? 'pickset_view_noleague' : 'pickset_edit', {picksetId: pickSet.id, season: season}) }}"><span class="glyphicon glyphicon-list-alt"></span> {{ pickSet.name }}</a></th>
                {% endfor %}
            </thead>
            <tbody>
            {% for league in leagues %}
                {% set leaguePickSet = league.getPickSetForUser(app.user) %}
                <tr>
                    {% if isCommish %}
                        <td>{{ league.userIsCommissioner(app.user) ? '<span class="glyphicon glyphicon-certificate" title="You are the commissioner for this league"></span>' : '' }}</td>
                    {% endif %}
                    <td><a href="{{ path('league_home', {leagueId: league.id, season: season}) }}"><span class="glyphicon glyphicon-home"></span> {{ league.name }}</a></td>
                    {% for pickSet in pickSets %}
                        <td><input type="radio"{% if picks_locked %} disabled{% endif %} name="league_pickset[{{ league.id }}]" value="{{ pickSet.id }}"{% if pickSet == leaguePickSet %} checked="checked"{% endif %} /></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        {% if not picks_locked %}
            <button type="submit" class="btn btn-success">Update Picksets</button>
        {% endif %}
    </form>
    <script>
        $(document).ready(function() {
            $("#pickset-update").submit(function(e) {
                var $form = this;
                e.preventDefault();
                bootbox.confirm('Are you sure you want to assign your picksets to new leagues?', 'No', 'Yes', function(result) {
                    if (result) {
                        $form.submit();
                    }
                });
            });
        });
    </script>

    {% if not picks_locked %}
        <div class="row-fluid">
            <h4>Looking for some more action?</h4>
            <a href="{{ path('league_find', {season: season}) }}" class="btn btn-info">Find another League to Join</a>
        </div>

        <div class="row-fluid">
            <h4>Need to leave a League?</h4>
            <a href="{{ path('league_leave', {season: season}) }}" class="btn btn-warning">Leave a League</a>
        </div>
    {% endif %}
{% endblock %}
