<div class="errors">
    {{ form_errors(form) }}
</div>

<div class="form-stacked">
    {{ form_errors(form.name) }}
    <div class="clearfix">
        {{ form_label(form.name, "Pick Name") }}
    </div>
    <div class="xxx">
        {{ form_widget(form.name, {'attr': {'class': 'xlarge'}}) }}
    </div>
</div>

<div id="pick-status">
    Status: <span class="label">checking...</span>
</div>

<table id="pick-list">
    <thead>
        <th>Bowl</th>
        <th>Home Team</th>
        <th>Confidence</th>
        <th>Away Team</th>
        <th>Date</th>
    </thead>
    <tbody>
    {% for pick in form.picks %}
        <tr class="pick{% if pick.vars.value.team.id is defined %} unpicked{% else %} picked{% endif %}">
            <td>{{ pick.vars.value.game.name }}</td>
            <td>
                <input type="radio" class="makePick" name="makePick{{ loop.index }}" value="{{ pick.vars.value.game.homeTeam.id }}"{% if pick.vars.value.team.id is defined and pick.vars.value.game.homeTeam.id == pick.vars.value.team.id %} checked="checked"{% endif %} />
                {{ pick.vars.value.game.homeTeam.name }}
            </td>
            <td class="confidence">
                <span class="confDisplay">{{ pick.vars.value.confidence }}</span>
                {{ form_widget(pick.confidence, { 'attr': { 'class': 'hidden'} }) }}
                {{ form_widget(pick.team.id, { 'attr': {'class': 'team' } }) }}
                {{ form_widget(pick.game.id, { 'attr': {'class': 'hidden' } }) }}
            </td>
            <td>
                <input type="radio" class="makePick" name="makePick{{ loop.index }}" value="{{ pick.vars.value.game.awayTeam.id }}"{% if pick.vars.value.team.id is defined and pick.vars.value.game.awayTeam.id == pick.vars.value.team.id %} checked="checked"{% endif %} />
                {{ pick.vars.value.game.awayTeam.name }}
            </td>
            <td>{{ pick.vars.value.game.gameDate|date('m/d/Y g:i a') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{{ form_widget(form._token) }}
{#
{{ form_rest(form) }}
#}
