<div class="errors">
    {{ form_errors(form) }}
</div>

<div class="form-stacked">
    {{ form_errors(form.name) }}
    <div class="clearfix">
        {{ form_label(form.name, "Pick Set Name") }}
    </div>
    <div class="xxx">
        {{ form_widget(form.name, {'attr': {'class': 'xlarge'}}) }}
    </div>
</div>

<div id="pick-status">
    Status: <span class="label">checking...</span>
</div>
<br />
<table id="pick-list" class="zebra-striped condensed-table">
    <thead bgcolor=#CCCCCC>
        <th>Bowl</th>
        <th>Favorite</th>
        <th class="confidence">Confidence</th>
        <th>Underdog</th>
        <th>Date</th>
    </thead>
    <tbody>
    {% for pick in form.picks %}
        <tr class="pick">
            <td>
                {{ pick.vars.value.game.name }}
                {% if pick.vars.value.game.description|length %}
                    (<a href="#" rel="popover" data-content="{{ pick.vars.value.game.description}}" title="{{ pick.vars.value.game.homeTeam.id }} vs {{ pick.vars.value.game.awayTeam.id }} Preview">?</a>)
                {% endif %}
            </td>
            <td>
                <input type="radio" class="makePick" name="makePick{{ loop.index }}" value="{{ pick.vars.value.game.homeTeam.id }}"{% if pick.vars.value.team.id is defined and pick.vars.value.game.homeTeam.id == pick.vars.value.team.id %} checked="checked"{% endif %} />
                {{ pick.vars.value.game.homeTeam.name }}
            </td>
            <td class="confidence{% if pick.vars.value.team.id is defined %} picked{% else %} unpicked{% endif %}">
                <span class="confDisplay">{{ pick.vars.value.confidence }}</span>
                {{ form_widget(pick.confidence, { 'attr': { 'class': 'hidden confidenceValue'} }) }}
                {{ form_widget(pick.team.id, { 'attr': {'class': 'team' } }) }}
                {{ form_widget(pick.game.id, { 'attr': {'class': 'hidden' } }) }}
            </td>
            <td>
                <input type="radio" class="makePick" name="makePick{{ loop.index }}" value="{{ pick.vars.value.game.awayTeam.id }}"{% if pick.vars.value.team.id is defined and pick.vars.value.game.awayTeam.id == pick.vars.value.team.id %} checked="checked"{% endif %} />
                {{ pick.vars.value.game.awayTeam.name }}
            </td>
            <td>{{ pick.vars.value.game.gameDate|date('m/d/Y g:i a') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="tiebreaker">
    <p>Tiebreaker</p>
    <label>LSU Score</label> {{ form_widget(form.tiebreakerHomeTeamScore) }}
    <label>Alabama Score</label> {{ form_widget(form.tiebreakerAwayTeamScore) }}
</div>

{{ form_widget(form._token) }}
{#
{{ form_rest(form) }}
#}
