<div class="control-group{% if form.name.vars.errors|length %} error{% endif %}">
    {{ form_label(form.name, "Pick Set Name") }}
    <div class="controls">
        {{ form_widget(form.name, {'attr': {'class': 'input-xxlarge'}}) }}
        {{ form_errors(form.name) }}
    </div>
</div>

<div id="pick-status">
    Status: <span class="label">checking...</span>
</div>
<span class="help-block">Picks lock December 15th at 12:55pm EST</span>
<br />

<table id="pick-list" class="table table-striped table-condensed">
    <thead bgcolor=#CCCCCC>
        <th>Bowl</th>
        <th>Favorite</th>
        <th>Up</th>
        <th class="confidence">Confidence</th>
        <th>Down</th>
        <th>Underdog</th>
        <th>Date</th>
    </thead>
    <tbody>
    {% for pick in form.picks %}
        {% set game = pick.vars.value.game %}
        {% set team = pick.vars.value.team %}
        {% set favorite = game.favorite %}
        {% set underdog = game.underdog %}
        <tr class="pick">
            <td>
                {{ game.name }}
                {% if game.description|length %}
                    (<a href="#" rel="popover" data-content="{% include 'CollegeCraziesMainBundle:Game:_preview.html.twig'|escape %}" title="{{ favorite.id }} vs {{ underdog.id }} Preview">?</a>)
                {% endif %}
            </td>
            <td>
                <input type="radio" class="makePick" name="makePick{{ loop.index }}" value="{{ favorite.id }}"{% if team.id is defined and favorite.id == team.id %} checked="checked"{% endif %} />
                {{ favorite.name }}
            </td>
            <td><a href="#" class="btn btn-mini btn-success move-pick up"><i class="icon-chevron-up"></i></a></td>
            <td class="confidence{% if team.id is defined %} picked{% else %} unpicked{% endif %}">
                <span class="confDisplay">{{ pick.vars.value.confidence }}</span>
                {{ form_widget(pick.confidence, { 'attr': { 'class': 'hidden confidenceValue'} }) }}
                {{ form_widget(pick.team, { 'attr': {'class': 'team' } }) }}
                {{ form_widget(pick.game, { 'attr': {'class': 'hidden' } }) }}
            </td>
            <td><a href="#" class="btn btn-mini btn-warning move-pick down"><i class="icon-chevron-down"></i></a></td>
            <td>
                <input type="radio" class="makePick" name="makePick{{ loop.index }}" value="{{ underdog.id }}"{% if team.id is defined and underdog.id == team.id %} checked="checked"{% endif %} />
                {{ underdog.name }}
            </td>
            <td>{{ pick.vars.value.game.gameDate|date('m/d/Y g:i a') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="tiebreaker">
    <p>Tiebreaker</p>
    <label>Notre Dame Score</label> {{ form_widget(form.tiebreakerHomeTeamScore) }}
    <label>Alabama Score</label> {{ form_widget(form.tiebreakerAwayTeamScore) }}
</div>

{{ form_widget(form._token) }}
