{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>Manage Picksets</h2>
    <p>Choose the pickset you want to use for the league</p>
    <form action="{{ path('pickset_manage') }}" method="POST">
        <table class="table table-bordered table-hover">
            <thead>
                <th>League</th>
                {% for pickSet in pickSets %}
                    <th>{{ pickSet.name }}</th>
                {% endfor %}
            </thead>
            <tbody>
            {% for league in leagues %}
                {% set leaguePickSet = league.getPickSetForUser(app.user) %}
                <tr>
                    <td>{{ league.name }}</td>
                    {% for pickSet in pickSets %}
                        <td><input type="radio" name="league_pickset[{{ league.id }}]" value="{{ pickSet.id }}"{% if pickSet == leaguePickSet %} checked="checked"{% endif %} /></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-success">Update Picksets</button>
    </form>

    <div class="row-fluid">
        <h4>Looking for some more action?</h4>
        <a href="{{ path('league_find') }}" class="btn btn-info">Find another League to Join</a>
    </div>
{% endblock %}
