{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>{{ pickSet.name }}</h2>

    <h3>Projected Stats</h3>
    <p>Based on 5000 scenarios, here are some projections for this pickset.</p>
    <dl>
        <dt>Average Finish</dt>
        <dd>{{ pickSet.getAveragePredictionFinish() }}</dd>

        <dt>Best Finish</dt>
        <dd>{{ pickSet.getHigestPredictionFinish() }}</dd>

        <dt>Worst Finish</dt>
        <dd>{{ pickSet.getLowestPredictionFinish() }}</dd>

        <dt>Average Score</dt>
        <dd>{{ pickSet.getAveragePredictionScore() }}</dd>

        <dt>Best Score</dt>
        <dd>{{ pickSet.getHighestPredictionScore() }}</dd>

        <dt>Worst Score</dt>
        <dd>{{ pickSet.getLowestPredictionScore() }}</dd>
    </dl>

    <div class="pick-distribution" style="width:550px;height:200px;">
    </div>

    <script>
        $(function () {
            $.ajax({
                url: '{{ path('pickset_data', {leagueId: league.id, pickSetId: pickSet.id}) }}',
                success: function(data) {
                    var graphData = [];
                    var graphTicks = [];
                    var daData = [
                        {label: 'foo', data: [[1,300], [2,300], [3,300], [4,300], [5,300]]},
                        {label: 'bar', data: [[1,800], [2,600], [3,400], [4,200], [5,0]]},
                        {label: 'baz', data: [[1,100], [2,200], [3,300], [4,400], [5,500]]},
                    ];
                    $(data).each(function(idx, dist) {
                        graphData.push({label: dist.finish, data:[[dist.finish, dist.distribution]]});
                        graphTicks.push([dist.finish, dist.finish]);
                    });
                    var options = {
                        series: {
                            stack: 0,
                            lines: {show: false, steps: false },
                            bars: {show: true, barWidth: 0.9, align: 'center',},},
                            xaxis: {ticks: graphTicks},
                    };

                    $.plot('.pick-distribution', graphData, options);
                }
            });
        });
    </script>

    {% include 'CollegeCraziesMainBundle:PickSet:_view.html.twig' %}

    <div class="tiebreaker">
        <h4>Tiebreaker</h4>
        <p>LSU Score: {{ pickSet.tiebreakerHomeTeamScore }}</p>
        <p>Alabama Score: {{ pickSet.tiebreakerAwayTeamScore }}</p>
    </div>
{% endblock %}
