{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>{{ pickSet.name }}</h2>
    <h3>Projected Stats</h3>
    <p>Based on 5000 scenarios, here are some projections for this pickset.</p>

    <dl>
        <dt>Average Finish</dt>
        <dd>{{ pickSet.getAveragePredictionFinish() }}</dd>

        <dt>Best Finish</dt>
        <dd>{{ pickSet.getHigestPredictionFinish() }}</dd>

        <dt>Worst Finish</dt>
        <dd>{{ pickSet.getLowestPredictionFinish() }}</dd>

        <dt>Average Score</dt>
        <dd>{{ pickSet.getAveragePredictionScore() }}</dd>

        <dt>Best Score</dt>
        <dd>{{ pickSet.getHighestPredictionScore() }}</dd>

        <dt>Worst Score</dt>
        <dd>{{ pickSet.getLowestPredictionScore() }}</dd>
    </dl>

    {% if league is defined %}
        <h4>Projected Finish Distributions</h4>
        <p class="text-info">Based on our predicted games, this is your percentage chance of finishing in each place</p>
        <div class="pick-distribution" style="width:550px;height:200px;">
        </div>

        <script>
            $(function () {
                $.ajax({
                    url: '{{ path('pickset_data', {leagueId: league.id, pickSetId: pickSet.id}) }}',
                    success: function(data) {
                        var graphData = [];
                        var graphTicks = [];
                        $(data).each(function(idx, dist) {
                            graphData.push({label: dist.finish, data:[[dist.finish, dist.percentage]]});
                            graphTicks.push([dist.finish, dist.finish]);
                        });
                        var options = {
                            series: {
                                stack: 0,
                                lines: {
                                    show: false
                                },
                                bars: {
                                    show: true,
                                    barWidth: 0.7,
                                    align: 'center',
                                    fill: true,
                                    fillColor: '#39F'
                                },
                            },
                            xaxis: {
                                ticks: graphTicks
                            },
                            legend: {
                                show: false
                            },
                        };

                        $.plot('.pick-distribution', graphData, options);
                    }
                });
            });
        </script>
    {% endif %}

    {% include 'CollegeCraziesMainBundle:PickSet:_view.html.twig' %}

    <div class="tiebreaker">
        <h4>Tiebreaker</h4>
        <p>LSU Score: {{ pickSet.tiebreakerHomeTeamScore }}</p>
        <p>Alabama Score: {{ pickSet.tiebreakerAwayTeamScore }}</p>
    </div>
{% endblock %}
