{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>{{ pickSet.name }}</h2>

    <h3>Projected Stats</h3>
    <p>Based on 5000 scenarios, here are some projections for this pickset.</p>
    <dl>
        <dt>Average Finish</dt>
        <dd>{{ pickSet.getAveragePredictionFinish() }}</dd>

        <dt>Best Finish</dt>
        <dd>{{ pickSet.getHigestPredictionFinish() }}</dd>

        <dt>Worst Finish</dt>
        <dd>{{ pickSet.getLowestPredictionFinish() }}</dd>

        <dt>Average Score</dt>
        <dd>{{ pickSet.getAveragePredictionScore() }}</dd>

        <dt>Best Score</dt>
        <dd>{{ pickSet.getHighestPredictionScore() }}</dd>

        <dt>Worst Score</dt>
        <dd>{{ pickSet.getLowestPredictionScore() }}</dd>
    </dl>

    {% include 'CollegeCraziesMainBundle:PickSet:_view.html.twig' %}

    <div class="tiebreaker">
        <h4>Tiebreaker</h4>
        <p>LSU Score: {{ pickSet.tiebreakerHomeTeamScore }}</p>
        <p>Alabama Score: {{ pickSet.tiebreakerAwayTeamScore }}</p>
    </div>
{% endblock %}
