{% if form is defined and form %}{% form_theme form 'SofaChampsCoreBundle::form_theme.html.twig' %}{% endif %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SofaChamps</title>
    <meta name="description" content="Sofa Champs">
    <meta name="google-site-verification" content="Gy7Icmvvqs72mmj-zC1k5lAmlB-2XFCnuxoGvC-pGE8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <link href="/css/cc.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="/js/cc.js?v=1"> </script>
    <script src="/js/libs/bootbox/bootbox.min.js"> </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">SofaChamps</a>
                <ul class="nav">
                    {% if pickSet is defined and pickSet is not null %}
                        <li><a href="{{ path(picks_locked ? 'pickset_view_noleague' : 'pickset_edit', {picksetId: pickSet.id}) }}">{{ truncate_text(pickSet.name, 25) }}</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <li class="dropdown">
                            <a data-toggle="dropdown" href="#">Site Stats <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('site_important_games') }}">Most Important Games</a></li>
                                <li><a href="{{ path('site_leaderboard') }}">Overall Leaderboard</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li><a href="{{ path('schedule') }}">Schedule</a></li>
                    <li><a href="{{ path('about') }}">About Us</a></li>
                    <li><a href="{{ path('donate') }}">Donate</a></li>
                </ul>
                <div class="pull-right navbar-text">
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <a href="{{ path('pickset_manage', {_switch_user: '_exit'}) }}" class="btn btn-warning">Exit impersonation</a>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="btn-group">
                            <a class="btn btn-warning" href="#"><i class="icon-wrench icon-white"></i> Admin</a>
                            <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('team_list') }}">Manage Teams</a></li>
                                <li><a href="{{ path('game_admin') }}">Manage Games</a></li>
                                <li><a href="{{ path('user_list') }}">Manage Users</a></li>
                                <li><a href="{{ path('admin_user_incomplete_picksets') }}">Users with Incomplete Picksets</a></li>
                                <li><a href="{{ path('admin_user_noleague') }}">Users with No League</a></li>
                            </ul>
                        </div>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        <div class="btn-group">
                            <a class="btn btn-info" href="{{ path('pickset_manage') }}"><i class="icon-list icon-white"></i> My Picksets</a>
                            <a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_USER') %}
                                    {% for pickSet in app.user.picksets %}
                                        <li>
                                            <a href="{{ path(picks_locked ? 'pickset_view_noleague' : 'pickset_edit', {picksetId: pickSet.id}) }}"><i class="icon-list"></i> {{ pickSet.name }}</a>
                                            {% if pickSet.leagues %}
                                                <ul class="unstyled" style="margin-left: 15px">
                                                {% for league in pickSet.leagues %}
                                                    <li><a href="{{ path('league_home', {leagueId: league.id}) }}"><i class="icon-home"></i> {{ league.name }}</a></li>
                                                {% endfor %}
                                                </ul>
                                            {% endif %}
                                        </li>
                                    {% else %}
                                        <li><a href="{{ path('pickset_new') }}">Create a Pickset</a></li>
                                    {% endfor %}
                                {% endif %}
                                <li class="divider"></li>
                                <li><a href="{{ path('pickset_manage') }}">Manage Picksets</a></li>
                                {% if app.user.picksets|length %}
                                    <li class="divider"></li>
                                    <li><a href="{{ path('pickset_new') }}">Create a new Pickset</a></li>
                                {% endif %}
                            </ul>
                        </div>
                        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary" style="margin-left: 25px;"><i class="icon-user icon-white"></i> {{ app.user }}</a>
                        <a href="/logout" class="btn btn-danger">logout</a>
                    {% else %}
                        <p class="navbar-text">
                            <a href="/login" class="navbar-link">Login</a> or <a href="/register">Signup</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_USER') and app.user.picksets|length %}
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    {% if league is defined and league is not null %}
                        <a class="brand" href="{{ path('league_home', {leagueId: league.id}) }}">{{ league.name }}</a>
                        <ul class="nav">
                            <li><a href="{{ path('league_group_picks', {leagueId: league.id}) }}">Group Picks</a></li>
                            <li><a href="{{ path('league_leaderboard', {leagueId: league.id}) }}">Leader Board</a></li>
                            <li><a href="{{ path('league_stats', {leagueId: league.id}) }}">My Stats</a></li>
                            <li><a href="{{ path('league_members', {leagueId: league.id}) }}">Members</a></li>
                            <li><a href="{{ path('league_invite', {leagueId: league.id}) }}">Invite Users</a></li>
                            <li><a href="{{ path('league_settings', {leagueId: league.id}) }}">League Settings</a></li>
                            {% if is_granted('ROLE_ADMIN') or league.userIsCommissioner(app.user) %}
                                <div class="dropdown pull-right" style="padding: 10px 15px">
                                    <a class="dropdown-toggle navbar-link" data-toggle="dropdown" href="#">Commish Tools <b class="caret"></b></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('league_member_remove', {leagueId: league.id}) }}">Remove Members</a></li>
                                        <li><a href="{{ path('league_commissioners', {leagueId: league.id}) }}">League Commissioners</a></li>
                                        <li><a href="{{ path('league_nopicks', {leagueId: league.id}) }}">Users with incomplete PickSets</a></li>
                                        <li><a href="{{ path('league_edit', {leagueId: league.id}) }}">League Settings</a></li>
                                        <li><a href="{{ path('league_blast', {leagueId: league.id}) }}">League Email</a></li>
                                        <li><a href="{{ path('league_note', {leagueId: league.id}) }}">Commish Note</a></li>
                                        <li><a href="{{ path('league_lock', {leagueId: league.id}) }}">Lock League</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </ul>
                    {% elseif app.user.leagues|length %}
                        <div class="dropdown" style="padding: 10px 15px">
                            <a class="dropdown-toggle navbar-link" data-toggle="dropdown" href="#">My Leagues <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">
                            {% for league in app.user.leagues %}
                            <li><a href="{{ path('league_home', {leagueId: league.id}) }}">{{ league.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <a class="btn btn-info" href="{{ path('league_find') }}">Find or Create a League</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <div class="well sidebar-name">
                    {% render "CollegeCraziesMainBundle:Game:list" %}
                </div>
            </div>

            <div class="span10">
                <div class="content">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" href="#">×</a>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block content '' %}
                </div>
            </div>
        </div>
    </div>

    <script src="/js/libs/flot/jquery.flot.js"></script>
    <script src="/js/libs/flot/jquery.flot.time.js"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36743769-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
