{% if form is defined and form %}{% form_theme form 'SofaChampsCoreBundle::form_theme.html.twig' %}{% endif %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SofaChamps{% block title '' %}</title>
    <meta name="description" content="Sofa Champs">
    <meta name="google-site-verification" content="Gy7Icmvvqs72mmj-zC1k5lAmlB-2XFCnuxoGvC-pGE8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% stylesheets 'css/main.less' filter='less' output='compiled/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="/">SofaChamps</a>
                <ul class="nav">
                    {% block nav_primary '' %}
                </ul>
                <div class="pull-right navbar-text">
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                        <a href="{{ path('core_home', {_switch_user: '_exit'}) }}" class="btn btn-warning">Exit impersonation</a>
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="btn-group">
                            <a class="btn btn-warning" href="#"><i class="icon-wrench icon-white"></i> Admin</a>
                            <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('core_admin_users') }}">Manage Users</a></li>
                                <li class="divider"></li>
                                {% block nav_admin '' %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if is_granted('ROLE_USER') %}
                        {% block nav_user '' %}
                        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-primary" style="margin-left: 25px;"><i class="icon-user icon-white"></i> {{ app.user }}</a>
                        <a href="/logout" class="btn btn-danger">logout</a>
                    {% else %}
                        <p class="navbar-text">
                            <a href="/login" class="navbar-link">Login</a> or <a href="/register">Signup</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% block nav_secondary '' %}

    {% set _sidebar = block('sidebar') %}

    <div class="container-fluid">
        <div class="row-fluid">
            {% if _sidebar is not empty %}
                {% set contentSpanClass = 'span10' %}
                <div class="span2">
                    <div class="well">
                        {% block sidebar '' %}
                    </div>
                </div>
            {% else %}
                {% set contentSpanClass = 'span12' %}
            {% endif %}

            <div class="{{ contentSpanClass }}">
                <div class="content">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" href="#">×</a>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block content '' %}
                </div>
            </div>
        </div>
    </div>

    {% javascripts
        'components/jquery/jquery.js'
        'components/bootstrap/js/*'
        'components/bootbox/bootbox.js'
        'components/flot/jquery.flot.js'
        'components/flot/jquery.flot.time.js'
        'js/cc.js'
        output='compiled/js/sofachamps.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36743769-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
