{% if form is defined and form %}{% form_theme form 'SofaChampsCoreBundle::form_theme.html.twig' %}{% endif %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>SofaChamps{% block title '' %}</title>
    <meta name="description" content="Sofa Champs">
    <meta name="google-site-verification" content="Gy7Icmvvqs72mmj-zC1k5lAmlB-2XFCnuxoGvC-pGE8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% stylesheets 'css/main.less' filter='less' output='compiled/css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">SofaChamps</a>
        </div>

        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                {% block nav_primary '' %}
            </ul>
            <ul class="nav navbar-nav">
                {% block nav_secondary '' %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li><a href="{{ path('core_home', {_switch_user: '_exit'}) }}"><span class="glyphicon glyphicon-ban-circle"></span> Exit impersonation</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#">Admin <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/admin"><span class="glyphicon glyphicon-th-list"> Dashboard</a></li>
                            {% block nav_admin '' %}
                        </ul>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li>{% block nav_user '' %}</li>
                    <li><a href="{{ path('fos_user_profile_edit') }}"><span class="glyphicon glyphicon-user"></span> {{ app.user }}</a></li>
                    <li><a href="/logout" class="text-danger">Logout</a></li>
                {% else %}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Signup</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>


    {% set _sidebar = block('sidebar') %}

    <div class="container">
        <div class="row-fluid">
            {% if _sidebar is not empty %}
                {% set contentSpanClass = 'col-md-10 col-sm-pull-2 col-xs-pull-2' %}
                <div class="col-lg-2 col-sm-push-10 col-xs-push-10 hidden-xs hidden-sm">
                    <div class="well">
                        {% block sidebar '' %}
                    </div>
                </div>
            {% else %}
                {% set contentSpanClass = 'col-md-12' %}
            {% endif %}

            <div class="{{ contentSpanClass }}">
                <div class="content">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }}">
                                <strong>{{ message }}</strong>
                                <button type="button" class="close" data-dismiss="alert" href="#">×</a>
                            </div>
                        {% endfor %}
                    {% endfor %}

                    {% block content '' %}
                </div>
            </div>
        </div>
    </div>

    {% javascripts
        'components/jquery/jquery.js'
        'components/bootstrap/js/tooltip.js'
        'components/bootstrap/js/dropdown.js'
        'components/bootstrap/js/collapse.js'
        'components/bootstrap/js/alert.js'
        'components/bootstrap/js/button.js'
        'components/bootstrap/js/popover.js'
        'components/bootstrap/js/modal.js'
        'components/bootbox/bootbox.js'
        'components/flot/jquery.flot.js'
        'components/flot/jquery.flot.time.js'
        'components/jquery.ui/ui/jquery.ui.core.js'
        'components/jquery.ui/ui/jquery.ui.widget.js'
        'components/jquery.ui/ui/jquery.ui.mouse.js'
        'components/jquery.ui/ui/jquery.ui.sortable.js'
        'js/cc.js'
        output='compiled/js/sofachamps.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36743769-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
