{% extends "SofaChampsPriceIsRightChallengeBundle::layout.html.twig" %}

{% block content %}
    {% form_theme form _self %}

    <h1>Edit your portfolio</h1>
    <p>Remaining Bankroll: $<span id="bankroll">--</span></p>

    <form action="{{ path('pirc_portfolio_update', {season: season, id: portfolio.id}) }}" method="post" class="pirc-portfolio">
        {% do form.teams.setRendered %}
        {{ form_errors(form) }}
        <table class="table table-condensed table-tbody-striped">
                <thead>
                    <th>Seed</th>
                    <th>Team</th>
                    <th>Cost</th>
                    <th>Buy</th>
                </thead>
            {% for seed in range(1, 16) %}
                {% set seedCost = config.costForSeed(seed) %}
                <tbody>
                    {% for bracketTeam in bracket.teamsForSeed(seed) %}
                        <tr>
                            <td>{{ seed }}</td>
                            <td>{{ bracketTeam.team.name }}</td>
                            <td>${{ seedCost }}</td>
                            <td>
                                <input type="checkbox" name="form[teams][]" value="{{ bracketTeam.team.id }}"{% if portfolio.hasTeam(bracketTeam.team) %} checked="checked"{% endif %} data-cost="{{ seedCost }}"/>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            {% endfor %}
        </table>

        <button type="submit" class="btn btn-success">Update Portfolio</button>
        {{ form_rest(form) }}
    </form>
{% endblock %}
