{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h2>Overall Leaderboard</h2>

    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Pick Name</th>
                <th>User</th>
                <th>Points Won</th>
                <th>Record</th>
                <th>Points Possible</th>
            </tr>
        </thead>
        <tbody>
            {% set rank = 1 %}
            {% set lastPoints = 0 %}
            {% for pickSet in pickSets %}
                {% set rank = (lastPoints == pickSet.points) ? '-' : loop.index %}
                {% set lastPoints = pickSet.points %}
                <tr>
                    <td>{{ rank }}</td>
                    <td><a href="{{ path('pickset_view_noleague', {'picksetId': pickSet.id, season: season}) }}">{{ pickSet.name|default('Not Named') }}</a></td>
                    <td>{{ profile_link(pickSet.user, true)|raw }}</td>
                    <td>{{ pickSet.points }}</td>
                    <td>{{ pickSet.wins|length }} - {{ pickSet.loses|length }}</td>
                    <td>{{ pickSet.pointsPossible }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
