<div class="errors">
    {{ form_errors(form) }}
</div>

<div class="control-group">
    {{ form_label(form.name, "Name", {label_attr: {class: 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.name) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.network, "Network", {label_attr: {class: 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.network) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.gamedate, "Date", {label_attr: {class: 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.gamedate) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.homeTeam, 'Home Team', {label_attr: {class: 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.homeTeam) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.homeTeamScore, 'Home Team Score', {label_attr: {class: 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.homeTeamScore) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.awayTeam, 'Away Team', {label_attr: {class: 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.awayTeam) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.awayTeamScore, 'Away Team Score', {label_attr: {class: 'control-label'}}) }}
        <div class="controls">
    {{ form_widget(form.awayTeamScore) }}
    </div>
</div>

<div class="control-group">
    {{ form_label(form.description, 'Description', {label_attr: {class: 'control-label'}}) }}
    <div class="controls">
        {{ form_widget(form.description) }}
    </div>
</div>

{{ form_rest(form) }}
