<ul class="game-list unstyled">
{% for game in games %}
    <li class="game">
        <h5>{{ game.name}} {% if game.complete %} (F){% endif %}</h5>
        
        {% if game.complete %}
            {% if game.winner == game.homeTeam %}
                {% set homeClass = "success" %}
                {% set awayClass = "important" %}
            {% else %}
                {% set homeClass = "important" %}
                {% set awayClass = "success" %}
            {% endif %}

            <p>
		        <span class="label {{ homeClass }}">{{ game.homeTeam.id }} ({{ game.homeTeamScore }})</span>
                vs
                <span class="label {{ awayClass }}">{{ game.awayTeam.id }} ({{ game.awayTeamScore }})</span>
            </p>
        {% else %}
            <p>{{ game.homeTeam.id}} vs. {{ game.awayTeam.id }} on <i> {{ game.network }}</i><br />
            {{ game.gameDate|date('m/d/Y') }} <small><time>{{ game.gameDate|date('g:i a') }}</time></small></p>
        {% endif %}
    </li>
{% endfor %}
</ul>
