Hello {{ emailTo }},
Evidentially you are awesome
Why? Because {{ user.firstName|length ? user.firstName : user.username }} wants you to join them in a <a href="http://sofachamps.com">SofaChamps</a> league.

To accept the invitation, just <a href="{{ url('league_find') }}">Click here</a> or copy and paste "{{ path('league_find') }}" into your browser.

For reference here's the League's information:
 * League Name: {{ league.name }}
 * League ID: {{ league.id }}
{% if not league.public %}
  * League Password: {{ league.password }}
{% endif %}
