<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Pick Name (user)</th>
            <th>Points Won</th>
            <th>Record</th>
            <th>Points Possible</th>
        </tr>
    </thead>
    <tbody>
        {% set rank = 1 %}
        {% set lastPoints = 0 %}
        {% for user in users %}
            {% set pickSet = league.getPicksetForUser(user) %}
            {% set rank = (lastPoints == pickSet.points) ? '-' : loop.index %}
            {% set lastPoints = pickSet.points %}
            <tr>
                <td>{{ rank }}</td>
                <td>
                    {% if picks_locked(season) %}
                        <a href="{{ path('pickset_view', {'picksetId': pickSet.id, 'leagueId': league.id, season: season}) }}">{{ pickSet.name|default('Not Named') }} ({{ user.username }})</a>
                    {% else %}
                        <a href="{{ path('user_profile', {'username': user.username}) }}">{{ pickSet.name|default('Not Named') }} ({{ user.username }})</a>
                    {% endif %}
                    {% if not picks_locked(season) and (is_granted('ROLE_ADMIN') or user == app.user) %}
                        <a href="{{ path('pickset_edit', {'picksetId': pickSet.id, season: season}) }}" class="label notice">edit</a>
                    {% endif %}
                </td>
                <td>{{ pickSet.points }}</td>
                <td>{{ pickSet.wins|length }} - {{ pickSet.loses|length }}</td>
                <td>{{ pickSet.pointsPossible }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
