{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h2>Associate Pickset with League</h2>

    {% if pickSets|length %}
        <p>Choose a pickset for league "{{ league.name }}"</p>

        <form action="{{ path('league_assoc', {leagueId: league.id, season: season.season}) }}" method="POST" class="form-horizontal">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>PickSet Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for idx, pickSet in pickSets %}
                    <tr>
                        <td>{{ pickSet.name }}</td>
                        <td><input type="radio" name="pickset" value="{{ pickSet.id }}"{% if idx ==0 %} checked="checked"{% endif %} /></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <input type="submit" class="btn btn-success" value="Save PickSet" />
        </form>
    {% else %}
        <h4>You don't have any picksets.</h4>
        <p><a href="{{ path('pickset_new', {season: season.season}) }}" class="btn btn-success">Create One Now</a></p>
    {% endif %}
{% endblock %}
