<div class="errors">
    {{ form_errors(form) }}
</div>

    {{ form_row(form.name) }}
    {{ form_row(form.motto) }}
    {{ form_row(form.public) }}

<div class="form-group password-container">
    {{ form_errors(form.password) }}
    {{ form_label(form.password, 'Password', {label_attr: {class: 'control-label'}}) }}
    {{ form_widget(form.password) }}
</div>

{{ form_widget(form._token) }}
{{ form_rest(form) }}
