{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h2>
        {{ league.name }} (id: {{ league.id }})
        {% if league.logo %}
            {% set logoEditText = 'Edit league logo' %}
            {{ league.logo|vlabs_filter('resize', { 'width' : 100, 'height' : 100 })|vlabs_media('image') }}
        {% else %}
            {% set logoEditText = 'Add league logo' %}
        {% endif %}
        {% if is_granted('MANAGE', league) %}
            <small><a href="{{ path('league_logo', {season: season.season, leagueId: league.id}) }}">{{ logoEditText }}</a></small>
        {% endif %}
    </h2>
    {% if league.motto %}
        <h4>"{{ league.motto }}"</h4>
    {% endif %}
    <div class="row well">
        <div class="col-md-6">
            <h3>
                <a href="{{ path(picks_locked(season) ? 'league_statpickset_view_noleagues' : 'pickset_edit', {picksetId: pickSet.id, season: season.season}) }}">{{ pickSet.name }}</a>
            </h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Points</th>
                        <th>Record</th>
                        <th><abbr title="Potential Points Remaining">PPR</abbr></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ picks_locked(season) ? rank : '--' }}</td>
                        <td>{{ pickset_points(pickSet) }}</td>
                        <td>{{ pickSet.wins|length }} - {{ pickSet.loses|length }}</td>
                        <td>{{ pickset_points_possible(pickSet) }}</td>
                    </tr>
                </tbody>
            </table>
            {% if picks_locked(season) %}
                {% if projectedBestFinish is not null %}
                    <h3><a href="{{ path('prediction_view', {season: season.season, pickSetId: pickSet.id, predictionSetId: projectedBestFinish.predictionset_id}) }}">Projected Best Finish: {{ projectedBestFinish.finish }}</a></h3>
                {% endif %}
                <h4>Average Projected Finish: {{ projectedFinishStats.avgfinish|number_format(2) }}</h4>
                <p class="text-info"><a href="{{ path('prediction_info') }}">Click here for more information about how we generated our predictions.</a></p>
            {% else %}
                <span class="text-warning">Projected Best Finish available after picks lock.</p>
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if league.note %}
                <h4>Commissioner's Note</h4>
                <p>{{ league.note }}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <h3>League Top 10 Standings <small><a href="{{ path('league_leaderboard', {leagueId: league.id, season: season.season}) }}">View Full Leaderboard</a></small></h3>

        {% include 'SofaChampsBowlPickemBundle:League:_leaderboard.html.twig' %}
    </div>

    {% if picks_locked(season) %}
        <div class="row">
            <h3><a href="{{ path('league_stats', {leagueId: league.id, season: season.season}) }}">League Top 5 Games</a></h3>

            {% include 'SofaChampsBowlPickemBundle:Game:_important_games.html.twig' with {games: importantGames} %}
        </div>
    {% endif %}
{% endblock %}
