{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h2>League Members</h2>
    <table class="table">
        {% if not picks_locked %}
            <legend>You can't view other users picks until {{ picks_lock_time(season)|user_date("l F jS \\a\\t g:ia T") }}.</legend>
        {% endif %}
        <thead>
            <tr>
                <th>PickSet Name</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            {% set pickSet = league.getPickSetForUser(member) %}
            <tr>
                {% if pickSet is not null %}
                    {% if picks_locked %}
                        <td><a href="{{ path('pickset_view', {picksetId: pickSet.id, leagueId: league.id, season: season}) }}">{{ pickSet.name }}</a></td>
                    {% else %}
                        <td>{{ pickSet.name }}</td>
                    {% endif %}
                {% else %}
                    <td>--</td>
                {% endif %}
                <td>{{ profile_link(member)|raw }}</td>
                <td>{{ member.firstName ?: '--' }}</td>
                <td>{{ member.lastName ?: '--' }}</td>
                <td>{% if member.emailVisible %}<a href="mailto:{{ member.email }}">{{ member.email }}</a>{% else %}--{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
