{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h2>Public Leagues</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Motto</th>
                <th>Members</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for league in leagues %}
            <tr>
                <td>{{ league.name }}</td>
                <td>{{ league.motto }}</td>
                <td>{{ league.users|length }}</td>
                <td>
                    {% if picks_locked %}
                        <a href="{{ path('league_home', {leagueId: league.id, season: season}) }}">View League</a>
                    {% else %}
                        {% if is_granted('ROLE_USER') and league.isUserInLeague(app.user) %}
                            (Already in this league)
                        {% else %}
                            <form action="{{ path('league_join', {season: season}) }}" method="post">
                                <input type="hidden" name="form[id]" value="{{ league.id }}" />
                                <button type="submit" href="{{ path('league_join', {season: season}) }}" class="btn btn-success">Join this league</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
