{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <h2>League Settings</h2>

    <dl>
        <dt>League Name</dt>
        <dd>{{ league.name }}</dd>

        <dt>League ID</dt>
        <dd>{{ league.id }}</dd>

        <dt>League Type</dt>
        <dd>{{ league.public ? 'Public' : 'Private' }}</dd>

        <dt>League Password</dt>
        <dd>{{ league.public ? 'Not Required' : league.password }}</dd>

        <dt>Picks Lock</dt>
        <dd>{{ app.session.get('picks_locked')|date("F jS \\a\\t g:ia") }}</dd>
    </dl>
{% endblock %}
