<table class="table table-bordered">
    <thead>
        <tr>
            <th>--</th>
            <th>Best</th>
            <th>Average</th>
            <th>Worst</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Rank</th>
            <td>{{ stats.bestfinish|number_format(2) }}</td>
            <td>{{ stats.avgfinish|number_format(2) }}</td>
            <td>{{ stats.worstfinish|number_format(2) }}</td>
        </tr>
        <tr>
            <th>Score</th>
            <td>{{ stats.bestscore }}</td>
            <td>{{ stats.avgscore|number_format(2) }}</td>
            <td>{{ stats.worstscore }}</td>
        </tr>
    </tbody>
</table>
