<div class="table-responsive">
    <table class="table table-hover table-condensed">
        <thead>
            <th>Bowl</th>
            {% if predictionSet is defined %}
                <th>Your Pick</th>
            {% endif %}
            <th>Favorite</th>
            <th>Confidence</th>
            <th>Underdog</th>
            <th>Date</th>
        </thead>
        <tbody>
        {% for pick in pickSet.picksByDate %}
            {% set pickMade = pick.team is not null %}
            {% set gameComplete = predictionSet is defined ? true : pick.game.complete %}
            {% set prediction = predictionSet is defined ? predictionSet.findPredictionByGame(pick.game) : pick.game %}
            {% if gameComplete %}
                {% set gameWinner = predictionSet is defined ? prediction.winner : pick.game.winner %}
                {% set pickCorrect = pickMade ? (gameWinner == pick.team) : false %}
                {% set homeTeamScore = prediction is defined ? prediction.homeTeamScore : pick.game.homeTeamScore %}
                {% set awayTeamScore = prediction is defined ? prediction.awayTeamScore : pick.game.awayTeamScore %}
                {% set favTeamScore = pick.game.favorite == pick.game.homeTeam ? homeTeamScore : awayTeamScore %}
                {% set undTeamScore = pick.game.favorite != pick.game.homeTeam ? homeTeamScore : awayTeamScore %}
            {% else %}
                {% set gameWinner = false %}
                {% set pickCorrect = false %}
            {% endif %}
            <tr class="{% if not pickMade %}warning{% elseif pickCorrect %}success{% elseif gameComplete %}danger{% endif %}">
                <td>{{ pick.game.name }}</td>
                {% if predictionSet is defined %}
                    {% if pickMade %}
                        <td>{{ pick.team.name }}</td>
                    {% else %}
                        <td>---</td>
                    {% endif %}
                {% endif %}
                <td>
                    {% if gameComplete and gameWinner == pick.game.favorite  %}
                        <strong>{{ pick.game.favorite.name}}</strong>
                    {% else %}
                        {{ pick.game.favorite.name }}
                    {% endif %}

                    {% if gameComplete %}
                        ({{ favTeamScore }})
                        {% if pick.team.id is defined and pick.game.favorite.id == pick.team.id %}
                            {% if pickCorrect %}
                                <img src="/img/greencheck.png" height="16" width="16" />
                            {% else %}
                                <img src="/img/redx.png" height="16" width="16" />
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <input type="radio" disabled="disabled" {% if pick.team.id is defined and pick.game.favorite.id == pick.team.id %} checked="checked"{% endif %} />
                    {% endif %}
                </td>
                <td class="confidence">
                    {% if not gameComplete %}
                        <span class="confDisplay">{{ pick.confidence }}</span>
                    {% else %}
                        {% if not pickCorrect %}
                            <del>{{pick.confidence}}</del>
                        {% else %}
                            <b>{{ pick.confidence }}</b>
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if gameComplete and gameWinner == pick.game.underdog  %}
                        <strong>{{ pick.game.underdog.name}}</strong>
                    {% else %}
                        {{ pick.game.underdog.name }}
                    {% endif %}

                    {% if gameComplete %}
                        ({{ undTeamScore }})
                        {% if pick.team.id is defined and pick.game.underdog.id == pick.team.id %}
                            {% if pickCorrect %}
                                <img src="/img/greencheck.png" height="16" width="16" />
                            {% else %}
                                <img src="/img/redx.png" height="16" width="16" />
                            {% endif %}
                        {% endif %}
                    {% else %}
                        <input type="radio" disabled="disabled" {% if pick.team.id is defined and pick.game.underdog.id == pick.team.id %} checked="checked"{% endif %} />
                    {% endif %}
                </td>
                <td style="white-space:nowrap;">{{ pick.game.gameDate|date('m/d/Y g:i a') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
