{% extends "SofaChampsBowlPickemBundle::layout.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1>SofaChamps</h1>
        <h2>
            Dominate without breaking a sweat<br />
            <small>...or even getting off the couch</small>
        </h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            {% if user.picksetsForSeason(season)|length %}
                <h2>My Picksets</h2>
                <ul class="unstyled">
                {% for pickset in user.picksetsForSeason(season) %}
                    <li>
                        <span class="glyphicon glyphicon-list"></span> <a href="{{ path(picks_locked ? 'pickset_view_noleague' : 'pickset_edit', {picksetId: pickset.id, season: season}) }}">{{ pickset.name }}</a>
                        {% if pickset.leagues %}
                            <ul class="unstyled">
                            {% for league in pickset.leagues %}
                                <li><a href="{{ path('league_home', {leagueId: league.id, season: season}) }}"><span class="glyphicon glyphicon-home"></span> {{ league.name }}</a></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
                <hr />
                <p>
                    <a href="{{ path('pickset_manage', {season: season}) }}" class="btn btn-primary">Manage Picksets</a>
                    {% if not picks_locked %}
                        or
                        <a href="{{ path('pickset_new', {season: season}) }}" class="btn btn-success">Create new Picksets</a>
                    {% endif %}
                </p>
            {% else %}
                {% if not picks_locked %}
                    <h2>You don't have any picksets <small>what a shame</small></h2>
                    <a href="{{ path('pickset_new', {season: season}) }}" class="btn btn-success">Create new Pickset Now!</a>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if user.leaguesForSeason(season)|length %}
                <h2>My Leagues</h2>
                <ul class="unstyled">
                {% for league in user.leaguesForSeason(season) %}
                    <li>
                        <a href="{{ path('league_home', {leagueId: league.id, season: season}) }}">
                            <span class="glyphicon glyphicon-home"></span> {{ league.name }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% elseif not picks_locked %}
                <h2>You aren't in any leagues, join the fun</h2>
            {% endif %}
            {% if not picks_locked %}
                <hr />
                <p>
                    <a href="{{ path('league_find', {season: season}) }}" class="btn btn-success">Join or create a league</a>
                </p>
            {% endif %}
        </div>
    </div>
    {% if picks_locked %}
        <div>
            <h2>Picks are locked, sorry you missed out.</h2>
            <p>But if you want, checkout the <a href="{{ path('league_public', {season: season}) }}">public leagues</a> and watch the action</p>
        </div>
    {% endif %}
{% endblock %}
