{% extends "SofaChampsCoreBundle:Layout:layout.html.twig" %}

{% block nav_primary %}
    {% if pickSet is defined and pickSet is not null %}
        <li><a href="{{ path(picks_locked ? 'pickset_view_noleague' : 'pickset_edit', {picksetId: pickSet.id, season: season}) }}"><span class="glyphicon glyphicon-th-list"></span> {{ truncate_text(pickSet.name, 25) }}</a></li>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <li class="dropdown">
            <a data-toggle="dropdown" href="#">Site Stats <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('site_important_games', {season: season}) }}"><span class="glyphicon glyphicon-flash"></span> Most Important Games</a></li>
                <li><a href="{{ path('site_leaderboard', {season: season}) }}"><span class="glyphicon glyphicon-list-alt"></span> Overall Leaderboard</a></li>
            </ul>
        </li>
    {% endif %}
    <li><a href="{{ path('schedule', {season: season}) }}">Bowl Schedule</a></li>
{% endblock %}

{% block nav_admin %}
    <li><a href="{{ path('admin_user_incomplete_picksets') }}">Users with Incomplete Picksets</a></li>
    <li><a href="{{ path('admin_user_noleague') }}">Users with No League</a></li>
{% endblock %}

{% block nav_user %}
    <li class="dropdown">
        <a data-toggle="dropdown" href="#">My Picksets <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
            {% if is_granted('ROLE_USER') %}
                {% for pickSet in app.user.picksets %}
                    <li>
                        <a href="{{ path(picks_locked ? 'pickset_view_noleague' : 'pickset_edit', {picksetId: pickSet.id, season: season}) }}"><i class="icon-list"></i> {{ pickSet.name }}</a>
                        {% if pickSet.leagues %}
                            <ul class="unstyled" style="margin-left: 15px">
                            {% for league in pickSet.leagues %}
                                <li><a href="{{ path('league_home', {leagueId: league.id, season: season}) }}"><i class="icon-home"></i> {{ league.name }}</a></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% else %}
                    <li><a href="{{ path('pickset_new', {season: season}) }}">Create a Pickset</a></li>
                {% endfor %}
            {% endif %}
            <li class="divider"></li>
            <li><a href="{{ path('pickset_manage', {season: season}) }}">Manage Picksets</a></li>
            {% if app.user.picksets|length %}
                <li class="divider"></li>
                <li><a href="{{ path('pickset_new', {season: season}) }}">Create a new Pickset</a></li>
            {% endif %}
        </ul>
    </li>
{% endblock %}

{% block nav_secondary %}
    {% if is_granted('ROLE_USER') and app.user.picksets|length %}
        {% if league is defined and league is not null %}
            <li><a href="{{ path('league_home', {leagueId: league.id, season: season}) }}"><span class="glyphicon glyphicon-home"></span> {{ league.name }}</a></li>
        {% endif %}
        {% if league is defined and league is not null %}
            <li class="dropdown">
                <a data-toggle="dropdown" href="#">League Info <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('league_group_picks', {leagueId: league.id, season: season}) }}">Group Picks</a></li>
                    <li><a href="{{ path('league_leaderboard', {leagueId: league.id, season: season}) }}">Leader Board</a></li>
                    <li><a href="{{ path('league_stats', {leagueId: league.id, season: season}) }}">My Stats</a></li>
                    <li><a href="{{ path('league_members', {leagueId: league.id, season: season}) }}">Members</a></li>
                    <li><a href="{{ path('league_invite', {leagueId: league.id, season: season}) }}">Invite Users</a></li>
                    <li><a href="{{ path('league_settings', {leagueId: league.id, season: season}) }}">League Settings</a></li>
                </ul>
            </li>
            {% if is_granted('ROLE_ADMIN') or league.userIsCommissioner(app.user) %}
                <li class="dropdown">
                    <a data-toggle="dropdown" href="#">Commish Tools <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{ path('league_member_remove_list', {leagueId: league.id, season: season}) }}">Remove Members</a></li>
                        <li><a href="{{ path('league_commissioners', {leagueId: league.id, season: season}) }}">League Commissioners</a></li>
                        <li><a href="{{ path('league_nopicks', {leagueId: league.id, season: season}) }}">Users with incomplete PickSets</a></li>
                        <li><a href="{{ path('league_edit', {leagueId: league.id, season: season}) }}">League Settings</a></li>
                        <li><a href="{{ path('league_blast', {leagueId: league.id, season: season}) }}">League Email</a></li>
                        <li><a href="{{ path('league_note', {leagueId: league.id, season: season}) }}">Commish Note</a></li>
                        <li><a href="{{ path('league_lock', {leagueId: league.id, season: season}) }}">Lock League</a></li>
                    </ul>
                </li>
            {% endif %}
        {% elseif app.user.leagues|length %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">My Leagues <b class="caret"></b></a>
                <ul class="dropdown-menu" role="menu">
                {% for league in app.user.leagues %}
                    <li><a href="{{ path('league_home', {leagueId: league.id, season: season}) }}">{{ league.name }}</a></li>
                {% endfor %}
                </ul>
            </li>
        {% else %}
            <li><a class="btn btn-info" href="{{ path('league_find', {season: season}) }}">Find or Create a League</a></li>
        {% endif %}
    {% endif %}
    <li><a href="{{ path('about') }}">About Us</a></li>
    <li><a href="{{ path('donate') }}">Donate</a></li>
{% endblock %}

{% block sidebar %}
    {% render url('_bp_game_sidebar') %}
{% endblock %}
