{% extends "SofaChampsCoreBundle:Layout:layout.html.twig" %}

{% block nav_primary %}
    {% if pickSet is defined and pickSet is not null %}
        <li><a href="{{ path(picks_locked ? 'pickset_view_noleague' : 'pickset_edit', {picksetId: pickSet.id}) }}">{{ truncate_text(pickSet.name, 25) }}</a></li>
    {% endif %}
    {% if is_granted('ROLE_USER') %}
        <li class="dropdown">
            <a data-toggle="dropdown" href="#">Site Stats <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('site_important_games') }}">Most Important Games</a></li>
                <li><a href="{{ path('site_leaderboard') }}">Overall Leaderboard</a></li>
            </ul>
        </li>
    {% endif %}
    <li><a href="{{ path('schedule') }}">Schedule</a></li>
    <li><a href="{{ path('about') }}">About Us</a></li>
    <li><a href="{{ path('donate') }}">Donate</a></li>
{% endblock %}

{% block nav_admin %}
    <li><a href="{{ path('game_admin') }}">Manage Games</a></li>
    <li><a href="{{ path('admin_user_incomplete_picksets') }}">Users with Incomplete Picksets</a></li>
    <li><a href="{{ path('admin_user_noleague') }}">Users with No League</a></li>
{% endblock %}

{% block nav_user %}
    <div class="btn-group">
        <a class="btn btn-info btn-navbar" href="{{ path('pickset_manage') }}"><i class="icon-list icon-white"></i> My Picksets</a>
        <a class="btn btn-info btn-navbar dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% if is_granted('ROLE_USER') %}
                {% for pickSet in app.user.picksets %}
                    <li>
                        <a href="{{ path(picks_locked ? 'pickset_view_noleague' : 'pickset_edit', {picksetId: pickSet.id}) }}"><i class="icon-list"></i> {{ pickSet.name }}</a>
                        {% if pickSet.leagues %}
                            <ul class="unstyled" style="margin-left: 15px">
                            {% for league in pickSet.leagues %}
                                <li><a href="{{ path('league_home', {leagueId: league.id}) }}"><i class="icon-home"></i> {{ league.name }}</a></li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% else %}
                    <li><a href="{{ path('pickset_new') }}">Create a Pickset</a></li>
                {% endfor %}
            {% endif %}
            <li class="divider"></li>
            <li><a href="{{ path('pickset_manage') }}">Manage Picksets</a></li>
            {% if app.user.picksets|length %}
                <li class="divider"></li>
                <li><a href="{{ path('pickset_new') }}">Create a new Pickset</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block nav_secondary %}
    {% if is_granted('ROLE_USER') and app.user.picksets|length %}
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if league is defined and league is not null %}
                    <a class="navbar-brand" href="{{ path('league_home', {leagueId: league.id}) }}">{{ league.name }}</a>
                {% endif %}
            </div>
            <div class="collapse navbar-collapse navbar-ex2-collapse">
                {% if league is defined and league is not null %}
                    <ul class="nav navbar-nav">
                        <li><a href="{{ path('league_group_picks', {leagueId: league.id}) }}">Group Picks</a></li>
                        <li><a href="{{ path('league_leaderboard', {leagueId: league.id}) }}">Leader Board</a></li>
                        <li><a href="{{ path('league_stats', {leagueId: league.id}) }}">My Stats</a></li>
                        <li><a href="{{ path('league_members', {leagueId: league.id}) }}">Members</a></li>
                        <li><a href="{{ path('league_invite', {leagueId: league.id}) }}">Invite Users</a></li>
                        <li><a href="{{ path('league_settings', {leagueId: league.id}) }}">League Settings</a></li>
                        {% if is_granted('ROLE_ADMIN') or league.userIsCommissioner(app.user) %}
                            <li class="dropdown pull-right">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Commish Tools <b class="caret"></b></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('league_member_remove', {leagueId: league.id}) }}">Remove Members</a></li>
                                    <li><a href="{{ path('league_commissioners', {leagueId: league.id}) }}">League Commissioners</a></li>
                                    <li><a href="{{ path('league_nopicks', {leagueId: league.id}) }}">Users with incomplete PickSets</a></li>
                                    <li><a href="{{ path('league_edit', {leagueId: league.id}) }}">League Settings</a></li>
                                    <li><a href="{{ path('league_blast', {leagueId: league.id}) }}">League Email</a></li>
                                    <li><a href="{{ path('league_note', {leagueId: league.id}) }}">Commish Note</a></li>
                                    <li><a href="{{ path('league_lock', {leagueId: league.id}) }}">Lock League</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                {% elseif app.user.leagues|length %}
                    <div class="dropdown" style="padding: 10px 15px">
                        <a class="dropdown-toggle navbar-link" data-toggle="dropdown" href="#">My Leagues <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu">
                        {% for league in app.user.leagues %}
                        <li><a href="{{ path('league_home', {leagueId: league.id}) }}">{{ league.name }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <a class="btn btn-info" href="{{ path('league_find') }}">Find or Create a League</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}
    {% render url('_bp_game_sidebar') %}
{% endblock %}
