{% extends "SofaChampsCoreBundle:Layout:layout.html.twig" %}

{% block nav_primary %}
    {% set currentLeague = league is defined and league is not null ? league : null %}
    {% set currentPickSet = pickSet is defined and pickSet is not null ? pickSet : null %}

    <li class="dropdown">
        <a data-toggle="dropdown" href="#">My Picksets <b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu">
            {% if is_granted('ROLE_USER') %}
                {% for pickSet in app.user.pickSetsForSeason(season) if pickSet.id|length %}
                    <li{% if pickSet == currentPickSet %} class="active"{% endif %}>
                        <a href="{{ path(picks_locked ? 'pickset_view_noleague' : 'pickset_edit', {picksetId: pickSet.id, season: season}) }}">
                            <span class="glyphicon glyphicon-list"></span> {{ pickSet.name }}
                        </a>
                        {% if pickSet.leagues %}
                            <ul>
                            {% for league in pickSet.leagues %}
                                <li>
                                    <a href="{{ path('league_home', {leagueId: league.id, season: season}) }}">
                                        {% if league == currentLeague %}
                                            <span class="glyphicon glyphicon-home"></span>
                                        {% endif %}
                                        {{ league.name }}
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                {% if not picks_locked %}
                    <li class="divider"></li>
                    <li><a href="{{ path('pickset_manage', {season: season}) }}">Manage Picksets</a></li>

                    <li class="divider"></li>
                {% endif %}
            {% endif %}
            {% if not picks_locked %}
                <li><a href="{{ path('pickset_new', {season: season}) }}">Create a new Pickset</a></li>

                <li class="divider"></li>
                <li><a href="{{ path('league_new', {season: season}) }}">Create a new League</a></li>
            {% endif %}
        </ul>
    </li>
    {% if currentLeague is not null %}
        <li class="dropdown">
            <a data-toggle="dropdown" href="#">League Info <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                {% if is_granted('VIEW_PICKS', currentLeague) %}
                    <li><a href="{{ path('league_group_picks', {leagueId: currentLeague.id, season: season}) }}">Group Picks</a></li>
                {% endif %}
                <li><a href="{{ path('league_leaderboard', {leagueId: currentLeague.id, season: season}) }}">Leaderboard</a></li>
                <li><a href="{{ path('league_stats', {leagueId: currentLeague.id, season: season}) }}">My Stats</a></li>
                <li><a href="{{ path('league_members', {leagueId: currentLeague.id, season: season}) }}">Members</a></li>
                <li><a href="{{ path('league_invite', {leagueId: currentLeague.id, season: season}) }}">Invite Users</a></li>
                <li><a href="{{ path('league_settings', {leagueId: currentLeague.id, season: season}) }}">League Settings</a></li>
            </ul>
        </li>
        {% if is_granted('MANAGE', currentLeague) %}
            <li class="dropdown">
                <a data-toggle="dropdown" href="#">Commish Tools <b class="caret"></b></a>
                 <ul class="dropdown-menu" role="menu">
                    <li><a href="{{ path('league_member_remove_list', {leagueId: league.id, season: season}) }}">Remove Members</a></li>
                    <li><a href="{{ path('league_commissioners', {leagueId: league.id, season: season}) }}">League Commissioners</a></li>
                    <li><a href="{{ path('league_nopicks', {leagueId: league.id, season: season}) }}">Users with incomplete PickSets</a></li>
                    <li><a href="{{ path('league_edit', {leagueId: league.id, season: season}) }}">League Settings</a></li>
                    <li><a href="{{ path('league_blast', {leagueId: league.id, season: season}) }}">League Email</a></li>
                    <li><a href="{{ path('league_note', {leagueId: league.id, season: season}) }}">Commish Note</a></li>
                    <li><a href="{{ path('league_lock', {leagueId: league.id, season: season}) }}">Lock League</a></li>
                </ul>
            </li>
        {% elseif not picks_locked %}
            <li><a href="{{ path('league_find', {season: season}) }}">Find or Create a League</a></li>
        {% endif %}
    {% endif %}
{% endblock %}

{% block nav_admin %}
    <li><a href="{{ path('admin_user_incomplete_picksets', {season: season}) }}">Users with Incomplete Picksets</a></li>
    <li><a href="{{ path('admin_user_noleague', {season: season}) }}">Users with No League</a></li>
    <li><a href="{{ path('admin_user_league_pickset', {season: season}) }}">Users with League and Pickset, but not in League</a></li>
{% endblock %}

{% block nav_user %}
{% endblock %}

{% block nav_secondary %}
    {% if is_granted('ROLE_USER') %}
        <li class="dropdown">
            <a data-toggle="dropdown" href="#">Site Stats <b class="caret"></b></a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="{{ path('site_important_games', {season: season}) }}"><span class="glyphicon glyphicon-flash"></span> Most Important Games</a></li>
                <li><a href="{{ path('site_leaderboard', {season: season}) }}"><span class="glyphicon glyphicon-list-alt"></span> Overall Leaderboard</a></li>
                <li><a href="{{ path('schedule', {season: season}) }}">Bowl Schedule</a></li>
            </ul>
        </li>
    {% else %}
        <li><a href="{{ path('schedule', {season: season}) }}">Bowl Schedule</a></li>
    {% endif %}
    <li><a href="{{ path('about') }}">About Us</a></li>
{% endblock %}

{% block sidebar %}
    {% render url('_bp_game_sidebar', {season: current_season}) %}
{% endblock %}
