{% extends "SofaChampsCoreBundle::layout.html.twig" %}

{% block content %}
    <h2>{{ person.firstName }} {{ person.lastName }} <small><a href="{{ path('core_person_view', {id: person.id}) }}">View</a></small></h2>

    <form action="{{ path('core_person_update', {id: person.id}) }}" method="post">
        {% include "SofaChampsCoreBundle:Person:form.html.twig" %}

        <button type="submit" class="btn btn-primary btn-lg">Update Person</button>

        {{ form_rest(form) }}
    </form>
{% endblock %}
