<h4>Upcoming Games</h4>
<dl class="game-list">
{% for game in upcoming %}
    <dt>{{ game.name}}</dt>
    <dd>
        {{ game.homeTeam.id}} vs. {{ game.awayTeam.id }} on <i> {{ game.network }}</i><br />
        {{ game.gameDate|date('m/d/Y') }} <small><time>{{ game.gameDate|date('g:i a') }}</time></small>
    </dd>
{% endfor %}
</dl>

<h4>Completed Games</h4>
<dl class="game-list">
{% for game in completed %}
    <dt>{{ game.name}}</dt>
    {% if game.winner == game.homeTeam %}
        {% set homeClass = "success" %}
        {% set awayClass = "important" %}
    {% else %}
        {% set homeClass = "important" %}
        {% set awayClass = "success" %}
    {% endif %}
    <dd>
	    <span class="label label-{{ homeClass }}">{{ game.homeTeam.id }} ({{ game.homeTeamScore }})</span>
        vs
        <span class="label label-{{ awayClass }}">{{ game.awayTeam.id }} ({{ game.awayTeamScore }})</span>
    </dd>
{% endfor %}
</dl>
