{% extends 'SofaChampsEmailBundle:Layout:base.html.twig' %}

{% block content %}
    <p>Hello {{ emailTo }},</p>
    <h1>Evidentially you are awesome</h1>
    <h2>Why? Because {{ user.firstName|length ? user.firstName : user.username }} wants you to join them in a <a href="http://sofachamps.com">SofaChamps</a> league to play College Bowl Pick'em.</h2>

    <p>To accept the invitation, just <a href="{{ url('league_prejoin', {leagueId: league.id, season: season}) }}">click here to join the league.</a> and enter this League's information:</p>

    <dl>
        <dt>League Name</dt>
        <dd>{{ league.name }}</dd>

        <dt>League ID</dt>
        <dd>{{ league.id }}</dd>

        {% if not league.public %}
            <dt>League Password</dt>
            <dd>{{ league.password }}</dd>
        {% endif %}
    </dl>
{% endblock %}
