<h2>Update your profile</h2>

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit form" role="form">
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.emailFromCommish) }}
    <fieldset>
        {{ form_row(form.current_password) }}
        <p class="help-text">Enter your current password to save</p>
        {{ form_rest(form) }}
    </fieldset>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Update Profile" />
    </div>
</form>
