<td{% if square.player %} style="background: #{{ square.player.color }}"{% endif %}>
    {% if square.player %}
        {{ square.player.name }}
    {% else %}
        <form action="{{ path('squares_square_claim', {gameId: game.id, row: r, col: c}) }}" method="post" class="squares-claim">
            {% if is_granted('CLAIM', game) %}
                {% if is_granted('PROXY_CLAIM', game) %}
                    <select name="playerId" class="form-control" style="display: none;">
                        {% for p in game.players %}
                            <option value="{{ p.id }}">{{ p.name }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="hidden" name="playerId" value="{{ player.id }}"/>
                {% endif %}

                <button class="btn btn-success btn-xs">Claim</button>
            {% else %}
                <a href="{{ path('squares_join', {gameId: game.id}) }}" class="btn btn-xs">Join</a>
            {% endif %}
        </form>
    {% endif %}
</td>
