{% extends "SofaChampsSquaresBundle::layout.html.twig" %}

{% block content %}
    <h2>Payouts <small><a href="{{ path('squares_game_view', {gameId: game.id}) }}">view game</a></small></h2>

    <p><a href="{{ path('squares_results', {gameId: game.id}) }}" class="btn btn-info">Edit the results</a></p>

    <form action="{{ path('squares_payouts', {gameId: game.id}) }}" method="post">
        <table class="table squares-payouts">
            <thead>
                <tr>
                    <th>Sequence</th>
                    <th>Description</th>
                    <th>Percentage</th>
                </tr>
            </thead>
            <tbody>
                {% for payout in form.payouts %}
                    <tr>
                        <td>{{ form_widget(payout.seq, {attr: {class: "sequence"}}) }}</td>
                        <td>{{ form_widget(payout.description) }}</td>
                        <td>{{ form_widget(payout.percentage) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary btn-lg">Update Payouts</button>
        {{ form_rest(form) }}
    </form>
{% endblock %}
