{% extends "SofaChampsSquaresBundle::layout.html.twig" %}

{% block content %}
    <h2>{{ game.name }}{% if is_granted('EDIT', game) %} <small><a href="{{ path('squares_game_edit', {gameId: game.id}) }}">Edit the details</a></small>{% endif %}</h2>

    {% if game.locked %}
        <p>The game is locked. Squares are locked. Good luck.</p>
    {% else %}
        <p>Grab your squares!</p>
        <p>Note: The numbers will be scrambled after the game is locked</p>
    {% endif %}

    {% if is_granted('PROXY_CLAIM', game) %}
        <div>
            <button type="button" id="squares-proxy" class="btn btn-warning">Claim squares for players</button>
            <hr />
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered" id="square">
                <tbody>
                    <tr>
                        <th></th>
                        {% for idx in range(0, 9) %}
                            <th>{{ game.locked ? game.translatedCol(idx) : idx }}</th>
                        {% endfor %}
                    </tr>
                    {% for r in range(0, 9) %}
                        <tr>
                            <th>{{ game.locked ? game.translatedRow(r) : r }}</th>
                            {% for c in range(0, 9) %}
                                {% set square = game.getSquare(r, c) %}
                                {% include "SofaChampsSquaresBundle:Game:_td.html.twig" %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Players{% if is_granted('EDIT', game) %} <small><a href="{{ path('squares_players', {gameId: game.id}) }}">Edit the players</a></small>{% endif %}</h2>
            <table class="table">
                <thead>
                    <th>Player</th>
                    <th>Squares</th>
                </thead>
                <tbody>
                    {% for player in game.players %}
                        <tr style="background: #{{ player.color }}">
                            <td>{{ player.name }}</td>
                            <td>{{ player.squares|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if not game.locked %}
                <a href="{{ path('squares_invite', {gameId: game.id}) }}" class="btn btn-info">Add/invite more players</a>
            {% endif %}

            <hr />

            <h2>
                Payouts
                {% if is_granted('EDIT', game) %}
                    <small>
                        <a href="{{ path('squares_payouts', {gameId: game.id}) }}">Edit payouts</a>
                        <a href="{{ path('squares_results', {gameId: game.id}) }}">Edit results</a>
                    </small>
                {% endif %}
            </h2>
            <table class="table">
                <thead>
                    <th>Description</th>
                    <th>Winner</th>
                    <th>Payout</th>
                </thead>
                <tbody>
                    {% for payout in game.payouts %}
                        <tr>
                            <td>{{ payout.description }}</td>
                            <td>
                                {% if payout.winner %}
                                    <b>{{ payout.winner.name }}</b></b>
                                {% else %}
                                    --
                                {% endif %}
                            </td>
                            <td>${{ payout.payoutAmount(true)|number_format(2, '.', ',') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <th></th>
                    <th></th>
                    <th>${{ game.totalPayoutAmount(true)|number_format(2, '.', ',') }}</th>
                </tfoot>
            </table>

            <h2>Stats</h2>
            <dl>
                <dt>Cost Per Square</dt>
                <dd>${{ game.costPerSquare(true)|number_format(2, '.', ',') }}</dd>

                {% set claimedSquares = game.claimedSquares|length %}
                {% set unclaimedSquares = 100 - claimedSquares %}
                <dt>Squares (Claimed / Unclaimed)</dt>
                <dd>(<span id="claimed-squares">{{ claimedSquares }}</span> / <span id="unclaimed-squares">{{ unclaimedSquares }}</span>)</dd>
            </dl>
        </div>
    </div>
    <div>
        {% include "SofaChampsSquaresBundle:Game:_log.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
            $("#squares-proxy").click(function(e) {
                e.preventDefault();
                $("#square select[name='playerId']").show();
                $(this).parent().hide();
            });
        });
    </script>
{% endblock %}
