{% extends "SofaChampsSquaresBundle::layout.html.twig" %}

{% block content %}
    <h2>{{ game.name }} <small><a href="{{ path('squares_game_edit', {gameId: game.id}) }}">Edit</a></small></h2>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th></th>
                        {% for idx in range(0, 9) %}
                            <th>{{ idx }} = {{ game.translatedCol(idx) }}</th>
                        {% endfor %}
                    </tr>
                    {% for r in range(0, 9) %}
                        <tr>
                            <th>{{ r }} = {{ game.translatedRow(r) }}</th>
                            {% for c in range(0, 9) %}
                                {% set square = game.getSquare(r, c) %}
                                {% include "SofaChampsSquaresBundle:Game:_td.html.twig" %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Players</h2>
            <ol>
                {% for player in game.players %}
                    {% set form = player_forms[player.id] %}
                    <li style="background: #{{ player.color }}">
                        {{ player.name }}
                        {{ render(controller('SofaChampsSquaresBundle:Player:edit', {player: player})) }}
                    </li>
                {% endfor %}
            </ol>

            <hr />

            <h2>Payouts <small><a href="{{ path('squares_payouts', {gameId: game.id}) }}">Edit</a></small></h2>
            <ol>
                {% for payout in game.payouts %}
                    <li>
                        {{ payout.description }}
                        {% if payout.winner %}
                            {{ payout.winner.name }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>

            <h2>Stats</h2>
            <dl>
                <dt>Cost Per Square</dt>
                <dd>${{ game.costPerSquare(true)|number_format(2, '.', ',') }}</dd>

                {% set claimedSquares = game.claimedSquares|length %}
                {% set unclaimedSquares = 100 - claimedSquares %}
                <dt>Squares (Claimed / Unclaimed)</dt>
                <dd>(<span id="claimed-squares">{{ claimedSquares }}</span> / <span id="unclaimed-squares">{{ unclaimedSquares }}</span>)</dd>
            </dl>
        </div>
    </div>
{% endblock %}
