{% extends "SofaChampsSquaresBundle::layout.html.twig" %}

{% block content %}
    <h2>{{ game.name }} <small><a href="{{ path('squares_game_edit', {gameId: game.id}) }}">Edit</a></small></h2>

    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th></th>
                        {% for idx in range(0, 9) %}
                            <th>{{ idx }} = {{ game.translatedCol(idx) }}</th>
                        {% endfor %}
                    </tr>
                    {% for r in range(0, 9) %}
                        <tr>
                            <th>{{ r }} = {{ game.translatedRow(r) }}</th>
                            {% for c in range(0, 9) %}
                                {% set square = game.getSquare(r, c) %}
                                <td{% if square.owner %} style="background: #{{ square.owner.color }}"{% endif %}>
                                    {% if square.owner %}
                                        {{ square.owner.name }}
                                    {% else %}
                                        <a href="{{ path('squares_square_claim', {gameId: game.id, playerId: player.id, row: r, col: c}) }}">Claim</a>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h2>Players</h2>
            <ol>
                {% for player in game.players %}
                    {% set form = player_forms[player.id] %}
                    <li style="background: #{{ player.color }}">
                        {{ player.name }}
                        {{ render(controller('SofaChampsSquaresBundle:Player:edit', {player: player})) }}
                    </li>
                {% endfor %}
            </ol>

            <hr />

            <h2>Payouts <small><a href="{{ path('squares_payouts', {gameId: game.id}) }}">Edit</a></small></h2>
            <ol>
                {% for payout in game.payouts %}
                    <li>
                        {{ payout.description }}
                        {% if payout.winner %}
                            {{ payout.winner.name }}
                        {% endif %}
                    </li>
                {% endfor %}
            </ol>

            <h2>Stats</h2>
            <p></p>
        </div>
    </div>
{% endblock %}
