{% extends "SofaChampsCoreBundle::layout.html.twig" %}

{% block content %}
    <div class="jumbotron">
        <h1>SofaChamps.com</h1>
        <h2>Dominate without breaking a sweat <small>...or even getting off the couch</small></h2>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2><b>Active Games</b></h2>
                    <ul class="unstyled">
                        {% if sbc_game_available %}
                            <li style="padding-left: 15px">
                                <h3><a href="{{ path('sbc_home') }}" class="text-success">SuperBowl Challenge</a></h3>
                                {% if sbc_picks_open %}
                                    {% if user.getSuperBowlChallengePickForYear(year) %}
                                        <p class="lead text-info">Kickoff is around the corner...</p>
                                        <p><a href="{{ path('sbc_pick', {year: year}) }}" class="btn btn-primary">Edit your picks</a></p>
                                    {% else %}
                                        <p class="lead text-info">Hurry there is still time...</p>
                                        <p><a href="{{ path('sbc_pick', {year: year}) }}" class="btn btn-primary">Make your picks before kickoff!</a></p>
                                    {% endif %}
                                {% else %}
                                    <p class="lead">Picks are locked, but you can <a href="{{ path('sbc_leaderboard', {year: year}) }}">view the leaderboard</a></p>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>Upcoming Games</h4>
                    <p><a href="{{ path('bp_home', {season: current_season}) }}" class="muted">College Bowl Mania</a></p>
                    {% if not sbc_game_available %}
                        <p><a href="{{ path('sbc_home') }}" class="muted">SuperBowl Challenge</a></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
