{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>{{ league.name }} (#{{ league.id }})</h2>
    <p><small>"{{ league.motto }}"</small></p>
    <div class="container-fluid">
        <div class="row well">
            <div class="span6">
                <h3>{{ pickSet.name }}</h3>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Rank</th>
                            <th>Points</th>
                            <th><abbr title="Potential Points Remaining">PPR</abbr></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ picks_locked ? rank : '--' }}</td>
                            <td>{{ pickSet.points }}</td>
                            <td>{{ pickSet.getPointsPossible() }}</td>
                        </tr>
                    </tbody>
                </table>
                {% if picks_locked %}
                    <h3><a href="{{ path('prediction_view', {pickSetId: pickSet.id, predictionSetId: projectedBestFinish.predictionset_id}) }}">Projected Best Finish: {{ projectedBestFinish.finish }}</a></h3>
                    <h4>Average Projected Finish: {{ pickSet.getAveragePredictionFinish(league)|number_format(2) }}</h4>
                    <p class="text-info"><a href="{{ path('prediction_info') }}">Click here for more information about how we generated our predictions.</a></p>
                {% else %}
                    <span class="text-warning">Projected Best Finish available after picks lock.</p>
                {% endif %}
            </div>
            <div class="span6">
                {% if league.note %}
                    <h4>Commissioner's Note</h4>
                    <p>{{ league.note }}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <h3>League Top 10 Standings</h3>

            {% include 'CollegeCraziesMainBundle:League:_leaderboard.html.twig' %}
        </div>

        {% if picks_locked %}
            <div class="row">
                <h3><a href="{{ path('league_stats', {leagueId: league.id}) }}">League Top 5 Games</a></h3>

                {% include 'CollegeCraziesMainBundle:Game:_important_games.html.twig' with {games: importantGames} %}
            </div>
        {% endif %}
    </div>
{% endblock %}
