{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>{{ league.name }} (#{{ league.id }})</h2>
    <h3>{{ league.motto }}</h3>
    {% if league.note %}
        <h4>A note from the commissioner</h4>
        <p>{{ league.note }}
    {% endif %}

    {% if pickSet is not null %}
    <dl>
        <dt>Current Rank</dt>
        <dd>TODO: {{ pickSet.getAveragePredictionFinish() }}</dd>

        <dt>Current Points</dt>
        <dd>{{ pickSet.getPoints() }}</dd>

        <dt>Points Possible Remaining</dt>
        <dd>{{ pickSet.getPointsPossible() }}</dd>

        <dt>Best Finish</dt>
        <dd>{{ pickSet.getHigestPredictionFinish() }}</dd>
    </dl>
    {% endif %}

    <h5>Top 10 Standings</h5>
    <p>TODO</p>

    <h5>Top 10 League Games</h5>
    <p>TODO</p>
{% endblock %}
