{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>{{ league.name }} (#{{ league.id }})</h2>
    <p><small>"{{ league.motto }}"</small></p>
    <div class="container-fluid">
        <div class="row well">
            {% if pickSet is not null %}
                <div class="span6">
                    <h4>{{ pickSet.name }}</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Points</th>
                                <th><abbr title="Potential Points Remaining">PPR</abbr></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ league.locked ? rank : '--' }}</td>
                                <td>{{ pickSet.points }}</td>
                                <td>{{ pickSet.getPointsPossible() }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="span6">
                    {% if league.note %}
                        <h4>Commissioner's Note</h4>
                        <p>{{ league.note }}
                    {% endif %}
                </div>
            {% else %}
                <div class="span12">
                    {% if league.note %}
                        <h4>Commissioner's Note</h4>
                        <p>{{ league.note }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if picks_locked %}
        <div class="well">
            <h4>Best possible finish <span class="label label-important">Coming Soon (after picks lock)</span>{# <a href="{{ path('pickset_view', {id: pickSet.id}) }}">{{ pickSet.getHigestPredictionFinish() }}</a> #}</h4>
        </div>

        <h5>League Top 10 Standings</h5>
        {% include 'CollegeCraziesMainBundle:League:_leaderboard.html.twig' %}

        <h5>League Top 10 Games</h5>
        <p>These will populate after picks have locked</p>
    {% endif %}
{% endblock %}
