{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <table class="zebra-striped condensed-table">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Pick Name (user)</th>
                <th>Points Won</th>
                <th>Record</th>
                <th>Points Possible</th>
            </tr>
        </thead>
        <tbody>
            {% set rank = 1 %}
            {% set lastPoints = 0 %}
            {% for user in users %}
                {% set rank = (lastPoints == user.pickset.points) ? '-' : loop.index %}
                {% set lastPoints = user.pickset.points %}
                <tr>
                    <td>{{ rank }}</td>
                    <td>
                        <a href="{{ path('pickset_view', {'id': user.pickset.id }) }}">{{ user.pickset.name|default('Not Named') }} ({{ user.username }})</a>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('pickset_edit', {'id': user.pickset.id }) }}" class="label notice">edit</a>
                        {% endif %}
                    </td>
                    <td>{{ user.pickset.points }}</td>
                    <td>{{ user.pickset.wins|length }} - {{ user.pickset.loses|length }}</td>
                    <td>{{ user.pickset.pointsPossible }}</td>
                </tr>
            {% endfor %}
        </tbody>
</table>
{% endblock %}
