{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>Group Picksx</h2>
    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Game Name</th>
                {% for game in games %}
                    <th class="vertical-text"><abbr title="{{ game.name }}">{{ game.shortName }}</abbr></th>
                {% endfor %}
                <th>Points Won</th>
                <th>Points Possible</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Favorite</td>
                {% for game in games %}
                    <td> {{ game.homeTeam.id }} </td>
                {% endfor %}
                <td>-</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Underdog</td>
                {% for game in games %}
                    <td> {{ game.awayTeam.id }} </td>
                {% endfor %}
                <td>-</td>
                <td>-</td>
            </tr>
            {% for user in users %}
                {% set userPickSet = league.getPicksetForUser(user) %}
                <tr>
                    <td class="first-col pickname"><a href="{{ path('pickset_view', {'picksetId': userPickSet.id, leagueId: league.id}) }}">{{ userPickSet.name }}</a></td>
                    {% for game in games %}
                        {% set pick = userPickSet.findPickByGame(game) %}
                        {% if pick.game.complete %}
                            {% if pick.team == pick.game.winner %}
                                {% set pickClass="correct" %}
                            {% else %}
                                {% set pickClass="incorrect" %}
                            {% endif %}
                        {% else %}
                            {% set pickClass="no" %}
                        {% endif %}

                        {% if user == curUser %}
                            <td class="pick-col {{ pickClass }} my-pick">{{ pick.team.id|default('DERP') }}<br />({{ pick.confidence }})</td>
                        {% else %}
                            {% set samePick = (league.getPicksetForUser(curUser).findPickByGame(game).team == pick.team) ? '' : ' not-my-pick' %}
                            <td class="pick-col {{ pickClass }}{{ samePick }}">{{ pick.team.id|default('DERP') }}<br />({{ pick.confidence }})</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ userPickSet.points }}</td>
                    <td>{{ userPickSet.pointsPossible }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
