{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>Group Picks</h2>
    <table class="condensed-table zebra-striped">
        <thead>
            <tr>
                <th>Game Name</th>
                {% for game in games %} 
                    <th class="vertical-text"> {{ game.name }} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Favorite</td>
                {% for game in games %} 
                    <td> {{ game.homeTeam.id }} </td>
                {% endfor %}
            </tr>
            <tr>
                <td>Underdog</td>
                {% for game in games %} 
                    <td> {{ game.awayTeam.id }} </td>
                {% endfor %}
            </tr>
            {% for user in users %}
                <tr>
                    <td class="first-col"><a href="{{ path('pickset_view', {'id': user.pickSet.id }) }}">{{ user.username }}</a></td>
                    {% for game in games %}
                        {% set pick = user.pickset.findPickByGame(game) %}
                        {% if pick.game.complete %}
                            {% if pick.team == pick.game.winner %}
                                {% set pickClass="correct" %}
                            {% else %}
                                {% set pickClass="incorrect" %}
                            {% endif %}
                        {% else %}
                            {% set pickClass="no" %}
                        {% endif %}

                        {% if user == curUser %}
                            <td class="pick-col {{ pickClass }} my-pick">{{ pick.team.id|default('DERP') }}<br />({{ pick.confidence }})</td>
                        {% else %}
                            {% set samePick = (curUser.pickset.findPickByGame(game).team == pick.team) ? '' : ' not-my-pick' %}
                            <td class="pick-col {{ pickClass }}{{ samePick }}">{{ pick.team.id|default('DERP') }}<br />({{ pick.confidence }})</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
