{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>League Settings</h2>

    <dl>
        <dt>League Name</dt>
        <dd>{{ league.name }}</dd>

        <dt>League ID</dt>
        <dd>{{ league.id }}</dd>

        <dt>League Type</dt>
        <dd>{{ league.public ? 'Public' : 'Private' }}</dd>

        <dt>League Password</dt>
        <dd>{{ league.public ? 'Not Required' : league.password }}</dd>

        <dt>Picks Lock</dt>
        <dd>{{ league.lockTime ? league.lockTime|date("F jS \\a\\t g:ia") : 'Not Set' }}</dd>
    </dl>
{% endblock %}
