{% extends "CollegeCraziesMainBundle::layout.html.twig" %}

{% block content %}
    <h2>My Stats</h2>

    {% if picks_locked %}
        <h3>Projected Finish Distributions</h3>
        <p class="text-info">Based on our predicted games, this is your percentage chance of finishing in each place.</p>

        <div class="pick-distribution" style="width:550px;height:200px;"></div>
        <script>
            $(function () {
                $.ajax({
                    url: '{{ path('pickset_data', {leagueId: league.id, pickSetId: pickSet.id}) }}',
                    success: function(data) {
                        var graphData = [];
                        var graphTicks = [];
                        $(data).each(function(idx, dist) {
                            graphData.push({label: dist.finish, data:[[dist.finish, dist.percentage]]});
                            graphTicks.push([dist.finish, dist.finish]);
                        });
                        var options = {
                            series: {
                                stack: 0,
                                lines: {
                                    show: false
                                },
                                bars: {
                                    show: true,
                                    barWidth: 0.7,
                                    align: 'center',
                                    fill: true,
                                    fillColor: '#39F'
                                },
                            },
                            xaxis: {
                                ticks: graphTicks
                            },
                            legend: {
                                show: false
                            },
                        };

                        $.plot('.pick-distribution', graphData, options);
                    }
                });
            });
        </script>

        <h3>Projected Stats</h3>
        <p>Based on 5000 scenarios, here are some projections for this pickset.</p>

        <dl>
            <dt>Average Finish</dt>
            <dd>{{ pickSet.getAveragePredictionFinish(league)|number_format(2) }}</dd>

            <dt>Best Finish</dt>
            <dd>{{ pickSet.getHigestPredictionFinish(league)|number_format(2) }}</dd>

            <dt>Worst Finish</dt>
            <dd>{{ pickSet.getLowestPredictionFinish(league)|number_format(2) }}</dd>

            <dt>Average Score</dt>
            <dd>{{ pickSet.getAveragePredictionScore(league)|number_format(2) }}</dd>

            <dt>Best Score</dt>
            <dd>{{ pickSet.getHighestPredictionScore(league) }}</dd>

            <dt>Worst Score</dt>
            <dd>{{ pickSet.getLowestPredictionScore(league) }}</dd>
        </dl>

        <h3>Your most important games</h3>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Game</th>
                    <th>Date</th>
                    <th>Confidence</th>
                    <th>Your Pick</th>
                </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td>{{ game.gamedate|date }}</td>
                    <td>{{ game.confidence }}</td>
                    <td{% if game.winner is not null %} class="{% if game.winner == game.team_id %}correct{% else %}incorrect{% endif %}"{% endif %}>{{ game.team_id }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>The stats will be available after the picks lock.  Get excited...this will be awesome</p>
    {% endif %}
{% endblock %}
