<form action="{{ path('squares_player_update', {playerId: player.id}) }}" method="post" class="form-inline squares-player-update" role="form">
    <div class="form-group">
        {{ form_label(form.name, 'Name', {label_attr: {class: 'sr-only'}}) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="form-group">
        {{ form_widget(form.color) }}
    </div>

    <div{% if not is_granted('EDIT', game) %} class="hidden"{% endif %}>
        {{ form_widget(form.admin) }}
    </div>

    <button class="btn btn-sm">Update</button>
    {{ form_rest(form) }}
</form>
